<!--  -->
<div
class="js-splide c-container c-container--just"
data-type="loop"
data-autoplay="true"
data-arrows="true"
data-config="perPage:1,gap:10,speed:400,padding:5%"
data-config-md="perPage:2,gap:20,speed:800,padding:5%"
data-config-lg="perPage:3,perMove:1,gap:50,speed:1000,padding:70px"
>
<div class="splide p-slider p-slider--visible-track">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="">
          <img
            data-src="https://placehold.jp/50/48bb78/ffffff/320x400.jpg?text=Slide01"
            data-srcset="https://placehold.jp/50/48bb78/ffffff/320x400.jpg?text=Slide01 320w, https://placehold.jp/100/48bb78/ffffff/640x800.jpg?text=Slide01 2000w"
            sizes="(min-width: 161px) 320px, 100%"
            data-placeholder
            decoding="async"
            loading="lazy"
            width="320"
            height="400"
            class="u-b u-w-full"
            alt=""
          />
        </div>
      </li>
      <li class="splide__slide">
        <div class="">
          <img
            data-src="https://placehold.jp/50/48bb78/ffffff/320x400.jpg?text=Slide02"
            data-srcset="https://placehold.jp/50/48bb78/ffffff/320x400.jpg?text=Slide02 320w, https://placehold.jp/100/48bb78/ffffff/640x800.jpg?text=Slide02 2000w"
            sizes="(min-width: 161px) 320px, 100%"
            data-placeholder
            decoding="async"
            loading="lazy"
            width="320"
            height="400"
            class="u-b u-w-full"
            alt=""
          />
        </div>
      </li>
      <li class="splide__slide">
        <div class="">
          <img
            data-src="https://placehold.jp/50/48bb78/ffffff/320x400.jpg?text=Slide03"
            data-srcset="https://placehold.jp/50/48bb78/ffffff/320x400.jpg?text=Slide03 320w, https://placehold.jp/100/48bb78/ffffff/640x800.jpg?text=Slide03 2000w"
            sizes="(min-width: 161px) 320px, 100%"
            data-placeholder
            decoding="async"
            loading="lazy"
            width="320"
            height="400"
            class="u-b u-w-full"
            alt=""
          />
        </div>
      </li>
    </ul>
  </div>

  <div class="splide__arrows p-slider-arrows">
    <button class="splide__arrow splide__arrow--prev p-slider-arrow p-slider-arrow--prev" type="button">Prev</button>
    <button class="splide__arrow splide__arrow--next p-slider-arrow p-slider-arrow--next" type="button">Next</button>
  </div>
</div>
</div>

<div
class="js-splide c-container c-container--just u-mt-50"
data-type="fade"
data-autoplay="true"
data-arrows="true"
data-config="perPage:1,perMove:1,gap:0,speed:1000,padding:0"
data-config-md="perPage:1,perMove:1,gap:0,speed:1000,padding:0"
data-config-lg="perPage:1,perMove:1,gap:0,speed:1000,padding:0"
>
<div class="splide p-slider">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="">
          <img
            data-src="https://placehold.jp/50/48bb78/ffffff/400x200.jpg?text=Slide01"
            data-srcset="https://placehold.jp/50/48bb78/ffffff/400x200.jpg?text=Slide01 400w, https://placehold.jp/100/48bb78/ffffff/640x800.jpg?text=Slide01 800w"
            sizes="(min-width: 201px) 400px, 100%"
            data-placeholder
            decoding="async"
            loading="lazy"
            width="400"
            height="200"
            class="u-b u-w-full"
            alt=""
          />
        </div>
      </li>
      <li class="splide__slide">
        <div class="">
          <img
            data-src="https://placehold.jp/50/48bb78/ffffff/400x200.jpg?text=Slide02"
            data-srcset="https://placehold.jp/50/48bb78/ffffff/400x200.jpg?text=Slide02 400w, https://placehold.jp/100/48bb78/ffffff/640x800.jpg?text=Slide02 800w"
            sizes="(min-width: 201px) 400px, 100%"
            data-placeholder
            decoding="async"
            loading="lazy"
            width="400"
            height="200"
            class="u-b u-w-full"
            alt=""
          />
        </div>
      </li>
      <li class="splide__slide">
        <div class="">
          <img
            data-src="https://placehold.jp/50/48bb78/ffffff/400x200.jpg?text=Slide03"
            data-srcset="https://placehold.jp/50/48bb78/ffffff/400x200.jpg?text=Slide03 400w, https://placehold.jp/100/48bb78/ffffff/640x800.jpg?text=Slide03 800w"
            sizes="(min-width: 201px) 400px, 100%"
            data-placeholder
            decoding="async"
            loading="lazy"
            width="400"
            height="200"
            class="u-b u-w-full"
            alt=""
          />
        </div>
      </li>
    </ul>
  </div>

  <div class="splide__arrows p-slider-arrows">
    <button class="splide__arrow splide__arrow--prev p-slider-arrow p-slider-arrow--prev" type="button">Prev</button>
    <button class="splide__arrow splide__arrow--next p-slider-arrow p-slider-arrow--next" type="button">Next</button>
  </div>
</div>
</div>

<div class="c-container c-container--medium u-mt-100">
<div
  class="js-splide"
  data-type="slide"
  data-autoplay="pause"
  data-arrows="false"
  data-config="perPage:1,gap:10,speed:1000,pagination:true"
  data-config-md="perPage:1,gap:20,speed:1000"
  data-config-lg="perPage:1,perMove:1,gap:50,speed:1000"
  data-sync="#thumbnail-slider"
>
  <div class="splide p-slider">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="">
            <img
              data-src="https://placehold.jp/50/48bb78/ffffff/400x200.jpg?text=Slide01"
              data-srcset="https://placehold.jp/50/48bb78/ffffff/400x200.jpg?text=Slide01 400w, https://placehold.jp/100/48bb78/ffffff/640x800.jpg?text=Slide01 800w"
              sizes="(min-width: 201px) 400px, 100%"
              data-placeholder
              decoding="async"
              loading="lazy"
              width="400"
              height="200"
              class="u-b u-w-full"
              alt=""
            />
          </div>
        </li>
        <li class="splide__slide">
          <div class="">
            <img
              data-src="https://placehold.jp/50/48bb78/ffffff/400x200.jpg?text=Slide02"
              data-srcset="https://placehold.jp/50/48bb78/ffffff/400x200.jpg?text=Slide02 400w, https://placehold.jp/100/48bb78/ffffff/640x800.jpg?text=Slide02 800w"
              sizes="(min-width: 201px) 400px, 100%"
              data-placeholder
              decoding="async"
              loading="lazy"
              width="400"
              height="200"
              class="u-b u-w-full"
              alt=""
            />
          </div>
        </li>
        <li class="splide__slide">
          <div class="">
            <img
              data-src="https://placehold.jp/50/48bb78/ffffff/400x200.jpg?text=Slide03"
              data-srcset="https://placehold.jp/50/48bb78/ffffff/400x200.jpg?text=Slide03 400w, https://placehold.jp/100/48bb78/ffffff/640x800.jpg?text=Slide03 800w"
              sizes="(min-width: 201px) 400px, 100%"
              data-placeholder
              decoding="async"
              loading="lazy"
              width="400"
              height="200"
              class="u-b u-w-full"
              alt=""
            />
          </div>
        </li>
      </ul>
    </div>

    <div class="splide__arrows p-slider-arrows">
      <button class="splide__arrow splide__arrow--prev p-slider-arrow p-slider-arrow--prev" type="button">Prev</button>
      <button class="splide__arrow splide__arrow--next p-slider-arrow p-slider-arrow--next" type="button">Next</button>
    </div>
  </div>
</div>
<div
  id="thumbnail-slider"
  class="u-mt-10"
  data-type="slide"
  data-arrows="false"
  data-pagination="false"
  data-is-navigation="true"
  data-autoplay="pause"
  data-config="gap:10,fixedWidth:50,fixedHeight:50"
  data-config-md="gap:10,fixedWidth:50,fixedHeight:50"
  data-config-lg="gap:10,fixedWidth:50,fixedHeight:50"
>
  <div class="splide p-slider">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="">
            <img
              data-src="https://placehold.jp/10/48bb78/ffffff/50x50.jpg?text=Slide01"
              data-srcset="https://placehold.jp/10/48bb78/ffffff/50x50.jpg?text=Slide01 50w, https://placehold.jp/20/48bb78/ffffff/100x100.jpg?text=Slide01 100w"
              sizes="(min-width: 26px) 50px, 50px"
              data-placeholder
              decoding="async"
              loading="lazy"
              width="400"
              height="200"
              class="u-b u-w-full"
              alt=""
            />
          </div>
        </li>
        <li class="splide__slide">
          <div class="">
            <img
              data-src="https://placehold.jp/10/48bb78/ffffff/50x50.jpg?text=Slide02"
              data-srcset="https://placehold.jp/10/48bb78/ffffff/50x50.jpg?text=Slide02 50w, https://placehold.jp/20/48bb78/ffffff/100x100.jpg?text=Slide02 100w"
              sizes="(min-width: 26px) 50px, 50px"
              data-placeholder
              decoding="async"
              loading="lazy"
              width="400"
              height="200"
              class="u-b u-w-full"
              alt=""
            />
          </div>
        </li>
        <li class="splide__slide">
          <div class="">
            <img
              data-src="https://placehold.jp/10/48bb78/ffffff/50x50.jpg?text=Slide03"
              data-srcset="https://placehold.jp/10/48bb78/ffffff/50x50.jpg?text=Slide03 50w, https://placehold.jp/20/48bb78/ffffff/100x100.jpg?text=Slide03 100w"
              sizes="(min-width: 26px) 50px, 50px"
              data-placeholder
              decoding="async"
              loading="lazy"
              width="400"
              height="200"
              class="u-b u-w-full"
              alt=""
            />
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>

<div class="js-accordion u-pt-20 u-pb-20 u-pl-20 u-pr-20 u-bg-gray c-container u-mt-80 u-mb-80">
<div role="button" tabindex="0" data-accordion="summary">
  <h2>アコーディオン展開</h2>
</div>
<div data-accordion="content">
  <p>「アコーディオンUI」のコンテンツです</p>
</div>
</div>

<div class="js-tab c-container u-mt-80 u-mb-80">
<select data-logic="tab-select">
  <option label="タブ A" value="#a">タブ A</option>
  <option label="タブ B" value="#b">タブ B</option>
  <option label="タブ C" value="#c">タブ C</option>
  <option label="タブ D" value="#d">タブ D</option>
</select>

<ul data-logic="tab-tablist" aria-label="タブ">
  <li role="none presentation">
    <button data-logic="tab" data-logic-href="#a" id="tab-a" type="button">タブ A</button>
  </li>
  <li role="none presentation">
    <button data-logic="tab" data-logic-href="#b" id="tab-b" type="button" class="is-active">タブ B</button>
  </li>
  <li role="none presentation">
    <button data-logic="tab" data-logic-href="#c" id="tab-c" type="button">タブ C</button>
  </li>
  <li role="none presentation">
    <button data-logic="tab" data-logic-href="#d" id="tab-d" type="button">タブ D</button>
  </li>
</ul>

<div data-logic="contents">
  <div data-logic="tab-panel" id="a">
    <div>
      <p>
        吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙を
      </p>
    </div>
  </div>
  <div data-logic="tab-panel" id="b">タブパネル B</div>
  <div data-logic="tab-panel" id="c">タブパネル C</div>
  <div data-logic="tab-panel" id="d">タブパネル D</div>
</div>
</div>
